<section class="less-more">
      <h2>LESS IS MORE!!! LESS IS MORE!!!</h2>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="content-list">
              <ul>
                <li>Short ingredient list</li>
                <li>Low fat & Low sodium</li>
                <li>Vegan</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content-list">
              <ul>
                <li>High fiber</li>
                <li>Keto Friendly</li>
                <li>Excellent source of iron</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>