<section class="ingredients">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="content">
              <img src="{{siteUrl}}asset/images/img-13.png" alt="image"/ class="conter-txt">
              <h2>{{entry.mainHeading}}<h2>
              {% for section in entry.sections.all() %}
              <h3 >{{section.sectionHeading}}</h3>
              <p>{{section.sectionDescription}}</p><br />
             {% endfor %}
             <br/>
                 <a class="btn btn-success" href="#contact-form">Contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
