<section class="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="row">
                <div class="col-sm-6">
                  <div class="l-cont">
                    <h2>Contact one of<br/> our representatives</h2>
                    <p>tvoluptas sit aspernatur aut odit aut fugit,<br/> sed quia consequuntur magni dolores eos<br/> qui ratione voluptatem sequi nesciunt.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="contact-info">
                    <form action="/action_page.php">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="First Name">
                          </div>
                           <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Last Name">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Store">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                              <select name="" class="form-control custom-select-lg">
                                <option selected>Territory</option>
                                <option value="">Territory-1</option>
                                <option value="">Territory-2</option>
                                <option value="">Territory-3</option>
                              </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                              <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                            </div>
                        </div>
                      </div>
                      <div class="btn-block"><button type="button" class="btn"><img src="{{siteUrl}}asset/images/cont-gr-arrow.png"></button></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>