<section class="ingredients">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="content">
              <img src="{{siteUrl}}asset/images/img-13.png" alt="image"/ class="conter-txt">
              <h2>Only simple ingredients<h2>
              <h3 class="hd">Water</h3>
              <p>Nature’s perfect liquid; it doesn’t get any healthier<br/> or cleaner than that!</p>
              <h3 class="hd miso">Miso</h3>
              <p>Used for a millennia in Japan, miso adds the elusive<br/> umami or “delicious taste” all the while being subtle enough<br/> so that the protein takes on the flavours of your dish.</p>
              <div class="overlap">
                <h3 class="hd">Textured Soy Protein</h3>
                <p>The mighty soybean is the powerhouse behind<br/> So Veggie “So Wise” providing a source of amino acids,<br/>  making it a complete plant-based protein. 
                </p>
                <img src="{{siteUrl}}asset/images/toy.jpg" alt="image"/>
              </div>
              <div class="mighty">
                <h2>Glucono-Delta-Lactone</h2>
                <p>Glucono delta-lactone, a naturally occurring ingredient, is<br/> produced by the fermentation of glucose, a natural<br/> carbohydrate source. It is often used in brining or pickling<br/> to balance acidity, bitterness and salty tastes.
                </p>
              </div>
              <div class="mighty ty">
                <h2>Yeast Extract</h2>
                <p>Made from the same yeast used to bake bread or brew<br/> beer, it is also responsible for adding a savoury flavour and<br/> another source of the famed fifth taste : umami.
                </p>
                 <a class="btn btn-success" href="#">Contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
